<div class="jumbotron">
	<div class="container">
		<p>First name: <br />
		<%= @contact.first_name %></p>
		<p>Last name: <br />
		<%= @contact.last_name %></p>
		<p>Email: <br />
		<%= @contact.email %></p>
		<p>Address: <br />
		<%= @contact.address %></p>
	</div>
	<%= console %>
</div>